@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import "../../node_modules/flag-icons/css/flag-icons.css";
:root {
  --primary: #D99873;
  --secondary: #73685F;
  --tertiary: #40352C;
  --light: #F2E3D5;
  --dark: #0D0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--light);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-light {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--dark);
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-light {
  color: var(--light);
}

.color-dark {
  color: var(--dark);
}

span {
  color: inherit;
}

.logo {
  font-family: 'Style Script', cursive;
}

textarea {
  resize: none;
}